{% extends 'base.html' %}
{% block content %}
<div class="container product-container">
<div class="row">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-md-4 display panel panel-default product-box">
        <div class="panel-body">
            <div class="product-img" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <h4 class="product-bidding">Current bids:<span class="product-price">{{ product.price }}{% include 'bids.html' %}</span></h4>
            <h4 class="product-bidding">Buyout Price:<span class="product-price">{{ product.buyout }}
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-btn"></span>
                    <button class="btn btn-success product-button" type="submit">Buy It Now</button>
                </div>
            </form>
            </span></h4>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}