body {
    font-family: Arial;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 100px;
}

.artifact-box {
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 10px;
    margin: 10px;
}

.box-container {
    padding: 0;
}