body {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

/* base.html */

.logo-nav {
    font-family: 'Alex Brush', cursive;
    font-size: 26px;
}

.nav-link {
    font-size: 19px;
}

.vintage-logo {
    height: 55px;
    width: 55px;
}

.navSearch-input {
    margin-bottom: 5px;
}

footer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.creator {
    float: left;
}

/* index.html */

.title-heading {
    text-align: center;
    width: 100%;
    height: 45vh;
}

.logo-header {
    font-family: 'Alex Brush', cursive;
    font-size: 4rem;
    margin-top: 15%;
}

.greeting-text {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    margin-top: 10%;
}

.intro-text {
    margin-top: 10%;
    font-size: 16px;
    font-weight: 900;
}

.intro-text-2 {
    display: none;
    font-size: 16px;
    font-weight: 900;
}

.shading {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 80vh;
}

.artifact-box-1 {
    margin: 0;
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(../images/Agamemnon.jpg);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.artifact-box-2 {
    margin: 0;
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
}

.artifact-box-3 {
    margin: 0;
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(../images/knight.jpg);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.artifact-box-4 {
    margin: 0;
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
}

.image-head-1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 32px;
    font-weight: 500;
    color: white;
    opacity: 100%;
    text-align: center;
    text-shadow: 2px 2px black;
}

.image-text-1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 19px;
    font-weight: 500;
    opacity: 100%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    border-bottom: none;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.image-head-2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 26px;
    text-align: center;
    color: black;
    opacity: 100%;
}

.image-text-2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 20px;
    text-align: center;
    opacity: 100%;
    color: black;
}

/* login-register.html */

.accountform {
    padding: 100px 20px 100px 20px;
    border: 1px solid rgba(2, 3, 5, 0.2);
    border-radius: 15px;
    margin: 20px 20px;
}

/* Profile.html */

.profile-container {
    text-align: center;
}

.profile-area {
    margin: 40px 15px;
}

.profile-box {
    padding: 50px;
    margin-bottom: 200px;
    border: 2px solid rgb(183, 183, 183);
    border-radius: 15px;
}

.logo-header-profile {
    font-family: 'Alex Brush', cursive;
    font-size: 3.5rem;
    margin-top: 40px;
}

.profile-success {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

/* products.html */

.product-container{
    position: relative;
    min-height: 100vh;
}

.product-box {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.panel-body {
    width: 100%;
    height: 100%;
    text-align: center;
}

.product-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.product-name {
    font-size: 26px;
    font-weight: 500;
    padding: 15px;
    color: black;
    text-align: center;
}

.product-nameLink {
    font-size: 26px;
    font-weight: 500;
    padding: 15px;
    color: black;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.product-nameLink:hover {
    text-decoration: none;
    color: rgb(173, 173, 173);
}

/* Productsinfo.html */

.product-description {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.product-bidding {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}

.current-bidder {
    font-size: 18px;
    font-weight: bold;
}

.product-button {
    float: right;
    font-size: 12px;
}

.product-buyout {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.buyout-button {
    float: right;
    margin-top: 15px;
}

.productinfo-box {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.productinfo-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.item-expiry {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: bold;
}

.product-expiryDate {
    margin-left: 7px;
}

/* cart.html */

.cart-itemContainer {
    padding: 10px;
}

.remove-button {
    margin-top: 20px;
    float: right;
}

.cart-price {
    margin-top: 25px;
    float: left;
}

.totalPrice-Container {
    margin-top: 20px;
    padding: 10px;
}

.cart-totalText {
    float: left;
    padding-top: 7px;
}

.cart-totalPrice {
    float: left;
    padding-top: 7px;
    padding-left: 10px;
}

.checkout-button {
    float: right;
}

.cart-itemContainer {
    text-align: center;
}

.cart-emptyContainer {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 50%;
}

.cart-emptyText {
    padding: 20px;
}

/* Checkout.html */

.checkout-productDetails {
    border-bottom: 1px solid black;
}

.checkout-formBox {
    border: 1px solid rgb(183, 183, 183);
    border-radius: 15px;
    padding: 10px;
    margin: 30px 0;
}

.checkout-text {
    font-size: 20px;
}

.checkout-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Media Queries */

@media only screen and (min-width: 992px) {
    
    /* Base.html */

    .logo-nav {
        font-size: 30px;
    }

    .nav-searchbar {
        margin: 4px 30px 0 30px;
    }

    .navSearch-input {
        margin-right: 10px;
    }

    .nav-link {
        margin-right: 28px;
    }

    /* index.html */

    .logo-header {
        font-size: 5rem;
        margin-top: 7%;
    }

    .greeting-text {
        margin-top: 5%;
    }

    .intro-text {
        margin-top: 60px;
        font-size: 18px;
    }

    .intro-text-2 {
        display: inline;
        font-size: 18px;
    }

    .shading {
        height: 100vh;
        width: 100%;
        background-color: rgba(2, 3, 5, 0.5)
    }

    .image-head-1 {
        font-size: 36px;
    }

    .image-text-1 {
        top: 67%;
        font-size: 24px;
    }

    .image-head-2 {
        font-size: 36px;
    }

    .image-text-2 {
        top: 67%;
        font-size: 24px;
    }

    /* login/profile.html */

    .accountform {
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate( 50%, 0%);
        padding: 100px 40px 100px 40px;
        margin-top: 40px;
        margin-bottom: 275px;
    }

    /* cart.html */

    .cart-emptyContainer {
        margin-bottom: 30%;
    }

    /* products/bids.html */

    .productinfo-img {
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }

    .bidsFormBtn {
        width: 50%;
        float: right;
    }
}