{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 checkout-title">
            <div class="logo-header-profile">
                <h1>Checkout</h1>
            </div>
        </div>
    </div>
    <div class="row">
        {% for item in cart_items %}

        <div class="col-12 display panel panel-default product-box">
            <div class="panel-body">
                <div class="checkout-productDetails">
                    <h4>Product Name: {{ item.product.name }}</h4>
                    <p class="checkout-text">Quantity: {{ item.quantity }}</p>
                    <p class="checkout-text">Price: &euro;{{ item.product.buyout }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="row">
        <div class="col-12">
            <div class="checkout-totalBox">
                <h3>Total: &euro;{{ total }}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="checkout-formBox">
                <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                    <legend>Payment Details</legend>
                <div id="credit-card-errors" style="display: none;">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                <div class="form-group col-12">
                    {{ order_form | as_bootstrap }}
                </div>
                <div class="form-group col-md-6">
                    {{ payment_form | as_bootstrap }}
                </div>
                {% csrf_token %}
                <div class="form-group col-md-12">
                    <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}