{% extends 'base.html' %}
{% block content %}
<div class="container title-heading">
    <h3 class="logo-header">Vintage</h3>
    <p class="intro-text">Welcome to Vintage, the best way to learn and shop for all types of Artifacts.</p>
</div>

<div class="border-box">

<div class="artifact-box-1">
    <div class="shading">
        <a class="hyper" href="">
            <h5 class="image-head-1">World War One</h5>
            <p class="image-text-1">Pic1</p>
        </a>
    </div>
</div>

<div class="artifact-box-2">
    <a href="">
        <h5 class="image-head-2">World War One</h5>
        <p class="image-text-2">Pic1</p>
    </a>
</div>

<div class="artifact-box-3">
    <div class="shading">
        <a class="hyper" href="">
            <h5 class="image-head-1">World War One</h5>
            <p class="image-text-1">Pic1</p>
        </a>
    </div>
</div>

<div class="artifact-box-4">
    <a href="">
        <h5 class="image-head-2">World War One</h5>
        <p class="image-text-2">Pic1</p>
    </a>
</div>

</div>
{% endblock %}