{% extends 'base.html' %}
{% block content %}
<div class="container title-heading">
    <h3 class="main-title">Vintage</h3>
    <p class="intro-text">Welcome to Vintage, the best way to learn and shop for all types of Artifacts.</p>
</div>
<div class="container box-container">
    <h4 class="title">Popular Historical Times</h4>
    <div class="row">
        <div class="col-sm-12 col-md-6 artifact-box">
            <a href="">
                <h5>World War One</h5>
                <p>Pic1</p>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 artifact-box">
            <a href="">
                <h5>World War One</h5>
                <p>Pic1</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 artifact-box">
            <a href="">
                <h5>World War One</h5>
                <p>Pic1</p>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 artifact-box">
            <a href="">
                <h5>World War One</h5>
                <p>Pic1</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}