{% extends "base.html" %}
{% block content %}
    
<!--Profile Page-->
<div class="container profile-container">
	<div class="row">
		<div class="col-12">
			<h3 class="logo-header-profile">Vintage</h3>
		</div>
	</div>
	<div class="row profile-area">
		<div class="col-12 profile-box">
			<h2 class="profile-success">Success!</h2>
			<p class="intro-text">You are logged in as: </p>
			<p class="intro-text">{{ user.username }}</p>
			<p class="intro-text">{{ user.email }}</p>
		</div>
	</div>
</div>
{% endblock %}